langchain
langgraph
crewai
groq
pymupdf
pdfplumber
pillow
numpy
pandas
scikit-learn
yfinance
requests
newsapi-python
python-dotenv
chromadb
langchain-community
sentence-transformers
langchain-huggingface